.list {
  list-style-type: none;
  display: flex;
  align-items: center;
  border-radius: 8px;
  background: #fefefe;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  margin-bottom: 2rem;
}

.list:hover {
  box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
  transition: 100ms all ease-in-out;
}

.list > div:nth-child(1) {
  width: 100%;
  padding: 16px;
  border-right: 1px solid #dedede;
}

.list > div:nth-child(2) {
  width: 64px;
  display: flex;
  justify-content: center;
  padding: 8px;
}

.list--header {
  font-size: 2rem;
  line-height: 1;
  display: flex;
  justify-content: space-between;
  margin-bottom: 1rem;
}

.list--header p {
  margin: 0;
}

/* .list button {
  width: 40px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
} */

@media all and (max-width: 480px) {
  .list--header {
    flex-direction: column;
  }
}